<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456652905966-kdiu93jmad7g1meq8ssosf49b9if68cs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456652905966-kdiu93jmad7g1meq8ssosf49b9if68cs</string>
	<key>API_KEY</key>
	<string>AIzaSyCzhRiNPJ_Uq7G6jVpnpM8PNQ6vbmSd4rs</string>
	<key>GCM_SENDER_ID</key>
	<string>456652905966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ucsb.servedup</string>
	<key>PROJECT_ID</key>
	<string>served-up-63c2e</string>
	<key>STORAGE_BUCKET</key>
	<string>served-up-63c2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456652905966:ios:b22c023c9016b2201182ff</string>
</dict>
</plist>